# Node.js
sdams/frontend/node_modules/
node_modules/
dist/
build/
.env

# Python
sdams/backend/venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
instance/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
